$primary: #394687;
$primary-dark: #1f2b5a;
$primary-light: #60688F;
$accent-color: #ff3c6a;
$primary-color-text: #fff;
$primary-text-color: #212121;
$secondary-text-color: #B0AFB3;
$divider-color: #BDBDBD;